.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);

}

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}


*{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.chartWrap {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#header{
	color: #333;
	height:20%;

}

h1{
	font-size: 92px !important;
	padding-bottom:20px !important;
	text-align: center;
	color:#333 !important;
	font-variant: small-caps;

}

h2{
	font-size: 30px !important;
	text-align: center;
}

h2,h3{
	color:#333 !important;
	font-variant: small-caps;
}

.gold{
	color:#268bef;
}

img{
	height:400px;
	padding:20px;
}

html,body{
	color:#333;
	background-image: url("purphex.png");
	background-size: 56px 32px;
	background-size: 112px 65px;
}

label{
	font-variant: small-caps;
	text-align: right;
	color:#333;
	font-weight: 100;
	font-size: 16px;
}

#recruit_btn{
	margin: auto 0;
	float: none;
	font-size: 2em;
}

#state_insight{
	padding-top:100px;
	text-align: center;
}

#form_container {
	height:20%;
}

#login_form{
	/*position:relative;
	top:-30%;*/
	padding-top:20px;
	padding-bottom:20px;
	text-align: center; !important;
	margin-right: 0px;
	margin-left: auto;
	-webkit-filter: none !important;
}

input::-webkit-input-placeholder {
    color: #999;
}
input:hover::-webkit-input-placeholder {
    color: #FFF;
}
input:focus::-webkit-input-placeholder {
    color: #585858;
}

/* Firefox < 19 */
input:-moz-placeholder {
    color: #999;
}
input:hover:-moz-placeholder {
    color: #FFF;
}
input:focus:-moz-placeholder {
    color: #585858;
}

/* Firefox > 19 */
input::-moz-placeholder {
    color: #999;
}
input:hover::-moz-placeholder {
    color: #FFF;
}
input:focus::-moz-placeholder {
    color: #585858;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #999;
}
input:hover:-ms-input-placeholder {
    color: #FFF;
}
input:focus:-ms-input-placeholder {
    color: #585858;
}

input[type=text],input[type=password] {
	width:300px;
	font-size:20px;
	color:#FFF;
	background-color: #000D1A;
}

input[type=text]:hover,input[type=password]:hover {
	color:#FFF;
}

input[type=submit] {
	width:200px;
	font-size:20px;
	margin-top:10px;
	padding:5px 15px; 
	background:#ccc; 
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
}

input[type=submit]:hover{
	background: #D1A002;
}

#copy{
	height:800px;
	padding:20px;
	text-align: center;
	color:white;

}

.copy_content{
	font-size:20px;
	text-align: center;
	height:100vh;
}

p{
	text-align: left;
}

footer{
	position:fixed;
	padding:5px;
	bottom: 0;
	color:white;
	text-align: right;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }